{% extends 'core/base.html' %}
{% block content %}

<div class="max-w-6xl mx-auto flex flex-col lg:flex-row gap-6 py-6 px-6 xl:px-0">
<div class="bg-white text-gray-800">

  <div class="max-w-6xl mx-auto py-12 px-6">
    <h1 class="text-3xl font-bold mb-10">Checkout</h1>

    <div class="grid md:grid-cols-3 gap-8">
      <!-- Left side (form) -->
      <div class="md:col-span-2 space-y-10">

        <!-- Shipping Info -->
        <div class="bg-gray-100 p-6 rounded-lg space-y-6">
          <h2 class="text-lg font-semibold">SHIPPING INFORMATION</h2>

          <div class="grid md:grid-cols-2 gap-4">
            <input type="text" placeholder="First name" value="{{ request.user.first_name }}" class="p-3 border border-gray-300 rounded-md w-full"/>
            <input type="text" placeholder="Last name" value="{{ request.user.last_name }}" class="p-3 border border-gray-300 rounded-md w-full"/>
          </div>

          <input type="text" placeholder="Address" class="p-3 border border-gray-300 rounded-md w-full"/>

          <div class="grid md:grid-cols-2 gap-4">
            <input type="text" placeholder="Zip code" class="p-3 border border-gray-300 rounded-md w-full"/>
            <input type="text" placeholder="City/Place" class="p-3 border border-gray-300 rounded-md w-full"/>
          </div>
        </div>

        <!-- Contact Info -->
        <div class="bg-gray-100 p-6 rounded-lg space-y-4">
            <h2 class="text-lg font-semibold">CONTACT INFORMATION</h2>
            <input type="email" placeholder="Email" value="{{ request.user.email }}" class="p-3 border border-gray-300 rounded-md w-full"/>
            <input type="tel" placeholder="Phone" class="p-3 border border-gray-300 rounded-md w-full"/>
          </div>
        

        <div class="bg-gray-100 p-6 rounded-lg space-y-4">
            <h2 class="text-lg font-semibold">PAYMENT INFORMATION</h2>
        </div>
       </div>

      <!-- Right side summary -->
      <div class="bg-gray-100 p-6 rounded-lg h-fit">
        <h2 class="text-lg font-semibold mb-4">SUMMARY</h2>
        <div class="flex justify-between mb-4">
          <span class="font-medium">Total</span>
          <span class="font-medium">${{cart.get_total_price}}</span>
        </div>
        <button class="w-full bg-purple-500 hover:bg-purple-600 text-white font-semibold py-3 rounded-md">
          Confirm checkout
        </button>
      </div>
    </div>
  </div>

</div>
</div>

{% endblock %}
